<button mat-icon-button [matMenuTriggerFor]="menu" class="">
  <mat-icon>apps</mat-icon>
</button>
<mat-menu #menu="matMenu">
  <button mat-menu-item>
    <a routerLink="/assignment">
      <mat-icon>assignment</mat-icon>
      <span>Agendamiento</span>
    </a>
  </button>
  <button mat-menu-item>
    <a routerLink="/clinical-history">
      <mat-icon>history</mat-icon>
      <span>Historia Clínica</span>
    </a>
  </button>
  <button mat-menu-item>
    <a routerLink="/prevention">
      <mat-icon>streetview</mat-icon>
      <span>Prevención</span>
    </a>
  </button>
  <button mat-menu-item>
    <a routerLink="/reports">
      <mat-icon>assessment</mat-icon>
      <span>Reportes</span>
    </a>
  </button>
</mat-menu>
