<div id="row">
  <footer>
    <section id="contacto">
      <div class="row-contacto">
        <div class="row">
          <div
            class="col-lg-6 col-md-6 col-sm-6 col-xs-6 col-llamenos _centreDivContent"
          >
            <a href="#" class="btn btn-lg">
              <mat-icon class="_white">phone</mat-icon>
              <h3>Contactenos</h3>
              <p>¡Soporte!</p>
            </a>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 _centreDivContent">
            <a href="" class="btn btn-lg">
              <mat-icon class="_white"> location_on</mat-icon>
              <h3>Red de Servicios</h3>
              <p>Descubra nuestra oficina <br />más cercana a usted.</p>
            </a>
          </div>
        </div>
      </div>
    </section>
    <section id="menu-footer">
      <div class="row">
        <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
          <ul>
            <ul>
              <li>
                <a href="">Quienes somos</a>
              </li>

              <li>
                <a href="">Trabaja con Nosotros </a>
              </li>
            </ul>
          </ul>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 col-redes">
          <p>Síguenos en nuestras redes</p>
          <div class="botones-redes">
            <a href="" target="_blank">
              <img class="iconSocial" src="assets/img/whatsapp.png" />
            </a>
            <a href="" target="_blank">
              <img class="iconSocial" src="assets/img/facebook.png" />
            </a>
            <a href="" target="_blank">
              <img class="iconSocial" src="assets/img/instagram.png" />
            </a>
            <a href="" target="_blank">
              <img class="iconSocial" src="assets/img/twitter.png" />
            </a>
            <a href="" target="_blank">
              <img src="" />
            </a>
          </div>
        </div>
      </div>
    </section>
  </footer>
</div>
