<div id="row">
  <footer>
    <section id="contacto">
      <div class="row-contacto">
        <div class="row">
          <div
            class="col-lg-6 col-md-6 col-sm-6 col-xs-6 col-llamenos
            _centreDivContent">
            <a [routerLink]="'/support'" class="btn btn-lg">
              <i class="mdi mdi-email"></i>
              <h3>¡Soporte!</h3>
              <p>Contactenos</p>
            </a>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 _centreDivContent">
            <a [routerLink]="'/geolocation'" class="btn btn-lg">
              <i class="mdi mdi-google-maps"></i>
              <h3>Geolocalización</h3>
              <p>Descubra nuestra oficina <br />más cercana a usted.</p>
            </a>
          </div>
        </div>
      </div>
    </section>
  </footer>
</div>
