<!-- ============================================================== -->
<!-- Bread crumb and right sidebar toggle -->
<!-- ============================================================== -->
<div class="row page-titles">
  <div class="col-md-5 align-self-center">
    <h3 class="text-themecolor">Experiencia</h3>
  </div>
  <div class="col-md-7 align-self-center">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a [routerLink]="'/home'">Home</a></li>
      <li class="breadcrumb-item active">Experiencia</li>
    </ol>
  </div>
  <div class="">
    <button
      class="right-side-toggle waves-effect waves-light btn-inverse btn btn-circle btn-sm pull-right m-l-10"
    >
      <i class="ti-settings text-white"></i>
    </button>
  </div>
</div>
<!-- ============================================================== -->
<!-- End Bread crumb and right sidebar toggle -->
<!-- ============================================================== -->
<!-- ============================================================== -->
<!-- Start Page Content -->
<!-- ============================================================== -->
<div class="card">
  <div class="tab-content">
    <div class="tab-pane active" id="home" role="tabpanel">
      <div class="card-body">
        <div class="profiletimeline">
          <div class="sl-item">
            <div class="sl-left">
              <a href="https://www.novatecsolutions.co/">
                <img
                  src="../assets/images/browser/novatec.png"
                  alt="user"
                  class="img-circle"
                />
              </a>
            </div>
            <div class="sl-right">
              <div>
                <a href="#" class="link">Desarrollador Senior</a>
                <span class="sl-date"> Mayo 2018 - Actual</span>
                <p class="m-t-10">
                  Desarrollar aplicativos WEB para los bancos BBVA y Santander,
                  utilizando tecnologías como: Spring MVC, Spring Boot, Angular
                  8, HTLM, CSS , SCSS, Tymeleaf, Boostrap, ASO REST SOAP.
                </p>
              </div>
            </div>
          </div>
          <hr />
        </div>
      </div>
    </div>
  </div>

  <div class="tab-content">
    <div class="tab-pane active" id="home" role="tabpanel">
      <div class="card-body">
        <div class="profiletimeline">
          <div class="sl-item">
            <div class="sl-left">
              <a href="https://periferiaitgroup.com/">
                <img
                  src="../assets/images/browser/periferia.png"
                  alt="user"
                  class="img-circle"
                />
              </a>
            </div>
            <div class="sl-right">
              <div>
                <a href="#" class="link">Desarrollador de Software</a>
                <span class="sl-date"> Octubre 2017 - Marzo 2018</span>
                <p class="m-t-10">
                  Líder técnico de desarrollo en proyecto de migración Avalora,
                  desarrollador en plataforma GoAnywhere (MFT). proyecto.
                </p>
                <p class="m-t-10">
                  logro: Creación de estándares para el desarrollo y la
                  documentación del proyecto.
                </p>
              </div>
            </div>
          </div>
          <hr />
        </div>
      </div>
    </div>
  </div>

  <div class="tab-content">
    <div class="tab-pane active" id="home" role="tabpanel">
      <div class="card-body">
        <div class="profiletimeline">
          <div class="sl-item">
            <div class="sl-left">
              <a href="https://www.pragma.com.co/es/">
                <img
                  src="../assets/images/browser/pragma.jpg"
                  alt="user"
                  class="img-circle"
                />
              </a>
            </div>
            <div class="sl-right">
              <div>
                <a href="#" class="link">Desarrollador de Software</a>
                <span class="sl-date"> Septiembre 2016 - Septiembre 2017</span>
                <p class="m-t-10">
                  Desarrollador en proyecto de migración de Core bancario para
                  Itau en el área de portales utilizando lenguajes como: J2EE,
                  Servlet, Sybase, SQL, weblogic, (SSIS), css, jsp.
                </p>
                <p class="m-t-10">
                  Logro: Migración Extractos Especiales, cree un nuevo
                  desarrollo que implemento la funcionalidad en el portal y cree
                  una ETL que se encargó del tratamiento de los datos y la
                  generación de los extractos.
                </p>
              </div>
            </div>
          </div>
          <hr />
        </div>
      </div>
    </div>
  </div>

  <div class="tab-content">
    <div class="tab-pane active" id="home" role="tabpanel">
      <div class="card-body">
        <div class="profiletimeline">
          <div class="sl-item">
            <div class="sl-left">
              <a href="https://credifamilia.com/">
                <img
                  src="../assets/images/browser/credifamilia.png"
                  alt="user"
                  class="img-circle"
                />
              </a>
            </div>
            <div class="sl-right">
              <div>
                <a href="#" class="link">Desarrollador de Software</a>
                <span class="sl-date"> Noviembre 2015 - Septiembre 2016</span>
                <p class="m-t-10">
                  Líder de desarrollo, líder de proyectó, Elaboración de
                  alcance, negociación con proveedores, Desarrollador de
                  Software para el análisis de crédito utilizando lenguajes
                  como: J2EE, Maven, Hibernate, Spring framework, SOAP Services,
                  Postgres, WildFly, XML, CSS.
                </p>
                <p class="m-t-10">
                  Logro: Desarrollo e implementación del software de análisis
                  para la asignación de créditos consultando las principales
                  centrales de riesgos.
                </p>
              </div>
            </div>
          </div>
          <hr />
        </div>
      </div>
    </div>
  </div>

  <div class="tab-content">
    <div class="tab-pane active" id="home" role="tabpanel">
      <div class="card-body">
        <div class="profiletimeline">
          <div class="sl-item">
            <div class="sl-left">
              <a href="https://www.fsc-int.com/en/">
                <img
                  src="../assets/images/browser/fsc.png"
                  alt="user"
                  class="img-circle"
                />
              </a>
            </div>
            <div class="sl-right">
              <div>
                <a href="#" class="link">Desarrollador de Software</a>
                <span class="sl-date"> Febrero 2015 - Septiembre 2015</span>
                <p class="m-t-10">
                  Desarrollo de mejoras en software bancario encargado de
                  recuperación de cartera utilizando lenguajes como: CSS, XML,
                  Primefaces, SP utilizando PL/SQL Developer
                </p>
                <p class="m-t-10">
                  Logro: Realice e implemente librerías de estilos para el Front
                  del aplicativo empresarial.
                </p>
              </div>
            </div>
          </div>
          <hr />
        </div>
      </div>
    </div>
  </div>
</div>
<!-- ============================================================== -->
<!-- End PAge Content -->
<!-- ============================================================== -->
