<!-- ============================================================== -->
<!-- Left Sidebar - style you can find in sidebar.scss  -->
<!-- ============================================================== -->
<aside class="left-sidebar">
  <!-- Sidebar scroll-->
  <div class="scroll-sidebar">
    <!-- Sidebar navigation-->
    <nav class="sidebar-nav">
      <ul id="sidebarnav">
        <li class="user-profile">
          <a
            id="ul_11"
            class="has-arrow waves-effect waves-dark"
            aria-expanded="false"
            (click)="hideMenu('ul_1')"
          >
            <img src="assets/img/home.jpg" alt="user" />
            <span class="hide-menu">Steave Jobs</span>
          </a>
          <ul aria-expanded="false" id="ul_1" class="collapse">
            <li><a>My Profile </a></li>
            <li><a>My Balance</a></li>
            <li><a>Inbox</a></li>
            <li><a>Account Setting</a></li>
            <li><a>Logout</a></li>
          </ul>
        </li>
      </ul>
    </nav>
  </div>
</aside>
