<!-- ============================================================== -->
<!-- Left Sidebar - style you can find in sidebar.scss  -->
<!-- ============================================================== -->
<aside class="left-sidebar">
  <!-- Sidebar scroll-->
  <div class="scroll-sidebar">
    <!-- Sidebar navigation-->
    <nav class="sidebar-nav">
      <ul id="sidebarnav">
        <li class="user-profile">
          <a
            id="ul_11"
            class="has-arrow waves-effect waves-dark"
            aria-expanded="false"
            (click)="hideMenu('ul_1')"
          >
            <img src="assets/img/photo.jpg" alt="user" />
            <span class="hide-menu">William Garzon</span>
          </a>
          <ul aria-expanded="false" id="ul_1" class="collapse">
            <li>
              <a class="waves-effect waves-dark" [routerLink]="'/formation'">
                <i class="spt icon-graduation"></i>
                Formación
              </a>
            </li>
            <li>
              <a class="waves-effect waves-dark" [routerLink]="'/experience'">
                <i class="mdi spt mdi-briefcase"></i>
                Experiencia
              </a>
            </li>
          </ul>
        </li>
      </ul>
    </nav>
  </div>
</aside>
