.imgHome {
  background-image: URL("assets/img/home.jpg");
  min-height: 750px;
  background-size: 100% 100%;
  min-width: 100%;
  padding: 0px;
}
.imgSmock {
  min-height: 808px;
  background-color: rgba(7, 33, 70, 0.5);
}
